
:root {
	/* 主题颜色 */
	--t-c1: 186, 138, 219;
	--t-c2: 123, 96, 202;
	--t-c3: 255, 184, 237;
	--t-c4: 143, 93, 213;
	--t-c5: 255, 184, 237;

	/* 文本颜色 */
	--t-t1: 239, 243, 242;
	--t-t2: 153, 214, 255;

	/* 背景颜色 */
	--t-b1: 43, 45, 57;
	--t-b2: 0, 0, 0;
	--t-b3: 244, 243, 241;
	--t-b4: 40, 40, 40;

	--t-r: 255, 0, 0;
	--t-g: 0, 200, 100;

/*
	.f-1 无效元素
	.f-2 仅在电脑端显示
	.f-3 仅在移动端显示

	|	
	| 回车符
					*/

}



html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Microsoft YaHei';
	overflow: overlay;
	margin: 0;
	line-height: 22px;

	height: 100%;
	width: 100%;
	min-width: 380px;
	background-color: rgba(var(--t-b1), 1);
}

a {
	text-decoration: none;
	-webkit-user-drag: none;
}

::-webkit-scrollbar {

	width: 12px !important;
	height: 12px !important;
	background-color: transparent !important;
}


::-webkit-scrollbar-track {

	background-color: transparent !important;
	box-shadow: none !important;
}


::-webkit-scrollbar-thumb {

	background-color: rgba(var(--t-b2), 0.1) !important;
	border-radius: 100px !important;
	border: 4px solid transparent !important;
	background-clip: content-box !important;
	box-shadow: none !important;
}


::-webkit-scrollbar-thumb:hover {

	background-color: rgba(var(--t-b2), 0.2) !important;
}

::-webkit-scrollbar-corner {
	background-color: transparent !important;
	box-shadow: none !important;
}



::selection {
	background: rgba(var(--t-c5), 0.3) !important;
}



textarea {
	border: none;
	width: 100%;
	height: 22px;
	padding: 0;
	outline: none;
	resize: none;
	font-family: 'Microsoft YaHei';
	font-size: 16px;
	line-height: 22px;
	background-color: rgba(var(--t-b1), 1);
	color: rgba(var(--t-t2), 1);
	cursor: default;
}

.console {
	width: 100%;
	color: rgba(var(--t-t1), 1);
	white-space: pre-wrap;
}



cmd {
	color: rgba(var(--t-t2), 1);
}

info {
	color: rgba(var(--t-t1), 0.4);
}

err {
	color: rgba(var(--t-r), 1);
}

su {
	color: rgba(var(--t-g), 1);
}



